.box{
        padding: 32px;
        border: 2px solid black;
        background-color: #FFFFFF;
        }
        .chi-1{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
        .chi-1>button{
            background-color: #CCE7D2;
            border-radius: 1.5rem;
            width: 4rem;
            height: 4rem;
        }
         .chi-1>button>img{
           width: 50%;
         margin: 0 auto;
         }
         .chi-2>h4{
            font-weight: bold;
         }
         .chi-2>p{
            color: gray;
            
         }
        .chi-3>h3{
            font-weight: bold;
        }
         .chi-3>button{
            background-color: #CCE7D2;
            width: 4rem;
            height: 2rem;
            border-radius: 1rem;
         }
         .chi-4{
            display: flex;
            justify-content: space-between;
            margin-top: 4px;
         }
         .chi-4>button{
           width: 8rem;
            height: 2rem;
            

         }
         .chi-4>:first-child{
            color: gray;
            border:1px solid #CCE7D2;
         }
      .chi-4>:last-child{
        background-color: green;
        color: #FFFFFF;
      }



      